// ---------------------------------------------------------------
//  Home Page
// ---------------------------------------------------------------
.p-home {
}

.p-top {
    background-image: url("../../assets/img/bg-grid.png");
    background-repeat: no-repeat;
    background-position: 0 -2px;
    background-size: contain;
    z-index: -1;
    padding-bottom: 0.5px;
}
