/* ---------------------------------- CASE ---------------------------------- */
.p-case {
    .l-container {
        max-width: 1594px;
        margin: auto;

        @include mq(xl, max) {
            max-width: 750px;
        }

        @include mq(lg, max) {}

        @include sp {
            max-width: 375px;
        }
    }

    &__wrap {
        padding-top: 85px;

        @include sp {
            padding-top: 42.5px;
        }
    }

    &__title {
        font-size: 3.6rem;
        line-height: 1.2;
        font-weight: 400;
        text-align: center;
        color: $black-cl;
        margin-bottom: 60px;
        padding-left: 35px;
        margin-top: -1px;

        @include mq(xl, max) {
            font-size: 3.3rem;
            padding-left: 0;
            margin-top: 0;
        }

        @include mq(lg, max) {
            font-size: 3rem;
        }

        @include sp {
            margin-bottom: 30px;
        }
    }

    &__list {
        display: flex;

        @include mq(md-max, max) {
            gap: 10px;
        }

        @include mq(xl, max) {
            flex-wrap: wrap;
            gap: 70px;
        }

        @include mq(lg, max) {}

        @include sp {
            gap: 35px;
        }
    }

    &__listwrap {
        width: 33.33%;
        padding-left: 50px;

        @include mq(md-max, max) {
            width: 100%;
            padding-left: 0;
        }

        @include mq(xl, max) {}

        @include mq(lg, max) {}

        @include sp {}
    }

    &__number {
        font-family: "Roboto";
        display: flex;
        text-align: center;

        p {
            position: relative;
            font-size: 21.3rem;
            font-weight: bold;
            color: $gray-cl;
            line-height: 0.7;
            margin-left: 20px;

            span {
                font-size: 2.4rem;
                font-weight: bold;
                color: #c7c7c7;
                letter-spacing: 0.6rem;
                position: absolute;
                left: 36%;
                top: 68%;
            }
        }

        @include mq(md-max, max) {
            margin-left: 0;
        }

        @include mq(xl, max) {
            justify-content: flex-start;
        }

        @include mq(lg, max) {
            p {
                margin-left: 55px;
                font-size: 30rem;

                span {
                    left: 40%;
                }
            }

            &--reverse {
                margin-right: 55px;
                justify-content: flex-end;
            }
        }

        @include sp {
            p {
                margin-left: 15px;
            }

            &--reverse {
                margin-right: 10px;
            }
        }
    }

    &__content {
        background-image: url("../../assets/img/hero-bgText.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 155px;
        position: relative;
        margin-left: -5px;

        @include mq(md-max, max) {
            margin-left: 0;
        }

        @include mq(xl, max) {
            height: 212px;
        }

        @include mq(lg, max) {
            &--reverse {
                background-image: url("../../assets/img/hero-bgTextMobile.png");
                justify-content: flex-end;
            }
        }

        @include sp {
            height: 106px;
        }
    }

    &__info {
        @include mid();
        font-size: 2.4rem;
        color: $white-cl;
        font-weight: 400;
        letter-spacing: -1px;
        text-align: center;
        width: 100%;
        margin-top: 14px;
        margin-left: 1px;

        @include mq(xl, max) {
            font-size: 3.3rem;
        }

        @include mq(lg, max) {}

        @include sp {
            margin-top: 0;
            margin-left: 0;
            transform: translate(-50%, calc(-50% + 7px));
        }
    }

    &__label {
        font-size: 1.8rem;
        font-weight: 400;
        font-family: "Noto Serif JP";
        color: $white-cl;
        text-align: center;
        background-color: #7a89a8;
        border-radius: 20px;
        margin-right: -5px;
        margin-left: auto;
        width: 211px;
        height: 35px;
        line-height: 2.1;
        position: absolute;
        top: 16px;
        right: 0;

        @include mq(md-max, max) {
            max-width: 65%;
        }

        @include mq(xl, max) {
            font-size: 2.5rem;
            width: 292px;
        }

        @include mq(lg, max) {
            height: 45px;
            line-height: 1.8;
            margin-right: 30px;

            &--reverse {
                left: 0;
                margin: 0;
                margin-left: 25px;
                margin-right: auto;
            }
        }

        @include sp {
            width: 146px;
            height: 24px;
            margin: 0;
            padding: 4px;
            border-radius: 10px;
            line-height: 1.5;

            &--reverse {
                p {
                    margin-right: 25px;
                }
            }
        }
    }
}