/* --------------------------------- CONTACT -------------------------------- */
.p-contact {
    padding-top: 90px;

    .l-container {
        max-width: 1200px;
        margin: auto;
    }

    &__wrap {
        width: 100%;
        height: 284px;
        border: 1px solid $black-cl;
    }

    &__title {
        font-size: 4.8rem;
        font-weight: 300;
        font-family: "Oswald";
        color: $black-cl;
        text-align: center;
        text-transform: uppercase;
        line-height: 284px;
        position: relative;
        letter-spacing: 4.4px;
    }

    @include mq(xl, max) {
        padding-top: 40px;

        .l-container {
            padding: 0 60px;
        }
    }

    @include mq(lg, max) {
        padding-top: 40px;

        .l-container {
            padding: 0 56px;
        }
    }

    @include sp {
        padding-top: 20px;

        .l-container {
            padding: 0 28px;
            max-width: 375px;
        }

        &__wrap {
            height: 142px;
        }

        &__title {
            line-height: 142px;
            letter-spacing: 2.2px;
        }
    }
}
