/* --------------------------------- DESIGN --------------------------------- */
.p-design {
    @include sp {
        .l-container {
            max-width: 375px;
        }
    }

    &__wrap {
        padding-top: 123px;
        position: relative;

        &::after {
            content: "";
            width: 1205px;
            height: 527px;
            background-color: $gray-cl;
            position: absolute;
            right: 0;
            bottom: 170px;
            z-index: -1;
            max-width: 75%;
        }

        @include mq(xl, max) {
            &::after {
                width: 390px;
                height: 514px;
                right: 0;
                bottom: 35.5%;
                max-width: 75%;
            }
        }
        @include mq(lg, max) {
        }

        @include sp {
            padding-top: 50px;

            &::after {
                width: 195px;
                height: 261px;
            }
        }
    }

    &__img {
        width: 1440px;
        height: 772px;
        position: relative;
        max-width: 75%;

        > img {
            width: 100%;
            height: 683px;
            position: absolute;

            opacity: 0;
            visibility: hidden;
        }

        @include mq(md-max, max) {
            height: 660px;

            > img {
                height: 560px;
            }
        }
        @include mq(xl, max) {
            max-width: 96%;
        }

        @include mq(lg, max) {
            // max-height: 486px;
            > img {
                height: 520px;
            }
        }

        @include sp {
            max-height: 243px;

            > img {
                height: 200px;
            }
        }
    }

    &__btn {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;

        @include sp {
            margin-top: 18px;
            bottom: 5px;
            right: 2px;
        }
    }

    &__prev,
    &__next {
        width: 53px;
        height: 53px;
        cursor: pointer;
        border: unset;
        outline: none;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 26%);

        &:hover {
            opacity: 0.7;
        }

        @include sp {
            width: 32px;
            height: 26.5px;
        }
    }

    &__next {
        margin-left: 20px;

        @include sp {
            margin-left: 11px;
        }
    }

    &__content {
        max-width: 1200px;
        height: 500px;
        margin: auto;
        padding-left: 5px;

        @include mq(md-max, max) {
            height: 400px;
            padding-left: 20px;
            max-height: fit-content;
        }
        @include mq(xl, max) {
            padding-left: 60px;
        }
        @include mq(lg, max) {
        }

        @include sp {
            padding-left: 30px;
            height: 200px;
        }
    }

    &__heading {
        font-size: 4.8rem;
        font-weight: 300;
        font-family: "Oswald";
        color: $black-cl;
        text-transform: uppercase;
        position: relative;
        line-height: 1;
        letter-spacing: 4.5px;

        &::after {
            content: "";
            position: absolute;
            width: 57px;
            height: 1px;
            background-color: #c7c7c7;
            left: 0;
            bottom: -40px;
        }

        @include sp {
            letter-spacing: 2.25px;
            margin-top: 14px;
            margin-left: 2px;

            &::after {
                width: 28.5px;
                bottom: -20px;
            }
        }
    }

    &__title {
        margin-top: 67px;
        margin-bottom: 36px;

        h3 {
            display: block;
            font-size: 2.7rem;
            font-weight: 400;
            color: #231815;
            line-height: 1.3;
            font-family: "Yu Gothic";

            // &:first-child {
            //     letter-spacing: 0.6px;
            // }
        }

        @include sp {
            margin-top: 34.5px;
            margin-bottom: 20px;
            margin-left: 1px;

            h3 {
                &:first-child {
                    letter-spacing: 0.3px;
                }
            }
        }
    }

    &__info {
        p {
            display: block;
            font-size: 1.9rem;
            font-weight: 300;
            color: #231815;
            line-height: 1.8;
            font-family: "Yu Gothic";
        }

        @include sp {
            font-size: 2rem;
            margin-left: 2px;
        }
    }

    &__video {
        position: absolute;
        bottom: 0;
        right: 84px;

        iframe {
            width: 702px;
            height: 390px;
            border: unset;
            outline: none;
            max-width: 100%;
        }

        @include mq(md-max, max) {
            iframe {
                width: 500px;
                height: 300px;
            }
        }
        @include mq(xl, max) {
            width: 50%;
            right: -70px;

            iframe {
                width: 400px;
                height: 250px;
            }
        }
        @include mq(lg, max) {
            display: block;
            position: relative;
            right: auto;
            padding: 0 60px;
            margin: auto;
            margin-top: 80px;
            width: 75%;
            max-width: 750px;

            iframe {
                width: 100%;
                height: 390px;
            }
        }

        @include sp {
            width: 100%;
            right: auto;
            padding: 0 30px;
            margin-top: 40px;

            iframe {
                width: 100%;
                height: 177px;
            }
        }
    }

    /* ------------------------------ ANIMTE SLICK ------------------------------ */
    .is-rightleft {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);

        &.is-active {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }

    .is-leftright {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);

        &.is-active {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }

    .is-topdown {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);

        &.is-active {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }
}
