/* ---------------------------------- MERIT --------------------------------- */
.p-merit {
    .l-container {
        max-width: 1200px;

        @include mq(xl, max) {
            padding: 0 60px;
            max-width: 750px;
        }
        @include mq(lg, max) {
        }
        @include sp {
            padding: 0 30px;
            max-width: 375px;
        }
    }

    &__wrap {
        padding-top: 111px;
        text-align: center;

        @include mq(md-max, max) {
            padding-bottom: 110px;
        }
        @include sp {
            padding: 83px 0 0;
        }
    }

    /* --------------------------------- HEADING -------------------------------- */
    &__title {
        font-weight: 400;
        text-align: center;
        font-size: 3.4rem;
        color: #231815;
        margin-left: 41px;

        span {
            font-size: 4.6rem;
            color: #252a6d;
            display: inline-block;
            font-family: "Kozuka Mincho Pr6N";
        }

        @include mq(xl, max) {
            padding: 0 20px;
            line-height: 1.2;
            font-size: 2.6rem;
            margin-left: 0;

            span {
                font-size: 3.4rem;
            }
        }
        @include mq(lg, max) {
            max-width: 460px;
            margin: auto;
            padding: 0 45px;

            span {
                font-size: 3.5rem;
            }
        }

        @include sp {
            //   max-width: 230px;
            margin: auto;
            font-size: 2.6rem;
        }
    }

    &__subtitle {
        font-size: 4.8rem;
        font-weight: 300;
        font-family: "Oswald";
        color: $black-cl;
        text-align: center;
        letter-spacing: 4.5px;
        line-height: 1.6;
        margin-bottom: 55px;
        margin-left: 38px;
        text-transform: uppercase;

        @include mq(xl, max) {
            font-size: 2.3rem;
            margin-top: 20px;
            margin-left: 0;
        }
        @include mq(lg, max) {
        }

        @include sp {
            margin-top: 5px;
            margin-bottom: 10px;
            letter-spacing: 1px;
        }
    }

    /* ---------------------------------- ITEM ---------------------------------- */
    &__item {
        display: flex;
        margin: 0 -40px 58px;

        &--reverse {
            flex-direction: row-reverse;
            margin: 0 -14px 58px;
        }

        @include mq(xl, max) {
            flex-wrap: wrap;
        }
        @include mq(lg, max) {
        }
        @include sp {
            margin: 0 -40px 16px;
        }
    }

    &__info {
        padding: 0 40px;

        @include mq(xl, max) {
            width: 100%;
        }
        @include mq(lg, max) {
        }
        @include sp {
            padding: 0 34px;
        }
    }

    &__content {
        text-align: left;
        padding-left: 85px;
        
        h4 {
            display: inline-block;
            font-size: 2.8rem;
            color: #231815;
            position: relative;
            line-height: 2.6;
            margin-left: 11px;
            font-family: "Yu Gothic";
            font-weight: bold;

            span {
                display: inline-block;
                color: #252a6d;
                font-size: 3.6rem;
                line-height: 1.2;
                font-family: "Yu Gothic";
            }

            img {
                width: 42px;
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(67%, -50%);
            }
        }

        p {
            font-size: 2.1rem;
            font-weight: 400;
            color: #231815;
            line-height: 1.6;
            margin-top: 11.5px;
            margin-left: 10px;
            letter-spacing: 0.55px;
        }

        &--reverse {
            margin-left: 14px;
            margin-right: -70px;
        }

        @include mq(xl, max) {
            margin-left: 0;
            margin-right: 0;
        }

        @include sp {
            padding-left: 60px;

            h4 {
                margin-left: 0;

                img {
                    width: 21px;
                }
            }

            &--reverse {
                margin-left: -6px;
            }

            p {
                margin-left: 0;
                margin-top: 7px;
                letter-spacing: 0.8px;
            }

            &.p-content3 {
                margin-left: -5px;
            }
        }
    }

    &__tada {
        &--reverse {
            transform: translate(118%, -50%) !important;
        }

        &--3 {
            transform: translate(98%, -50%) !important;
        }
        @include mq(xl, max) {
            &--reverse {
                transform: translate(123%, -50%) !important;
            }
        }
    }

    &__img {
        padding: 19px 29px;

        img {
            min-width: 530px;
        }

        @include mq(xl, max) {
            width: 100%;

            img {
                margin: auto;
                width: 100%;
            }
        }
        @include mq(lg, max) {
        }

        @include sp {
            padding: 14px 29px;

            img {
                width: 290px;
                min-width: 0;
            }
        }
    }

    &__label {
        text-align: left;
        margin-top: -16px;
        margin-left: 11px;

        &--reverse {
            margin-left: 25px;
        }

        @include mq(xl, max) {
            margin-left: 11px;

            &--reverse {
                margin-left: 0;
            }
        }
        @include sp {
            margin-left: 19px;
            margin-top: 0;

            &--reverse {
                margin-left: 13px;
                margin-top: -1px;
            }

            img {
                width: 45px;
                height: 56px;
            }

            &.p-label3 {
                margin-left: 13px;
            }
        }
    }
}
