/* --------------------------------- PRESENT -------------------------------- */
.p-present {
  .l-container {
    max-width: 1200px;
    margin: auto;
  }

  &__wrap {
    padding-top: 120px;

    @include sp {
      padding-top: 60px;
    }
  }

  &__wrap2 {
    padding-top: 88px;
  }

  &__img {
    @include sp {
      display: none;
    }
  }

  &__imgmobile {
    display: none;

    @include sp {
      display: block;
      width: 319px;
      margin: auto;
    }
  }

  // &__img,
  // &__imgmobile {
  //     width: 100%;
  // }
}
