/* ----------------------------------- WEB ---------------------------------- */
.p-web {
    .l-container {
        max-width: 1680px;
        margin: auto;
    }

    @include sp {
        .l-container {
            max-width: 375px;
        }
    }

    &__wrap {
        padding-top: 70px;
        text-align: center;

        @include mq(xl, max) {
            padding-left: 10px;
            padding-right: 10px;
        }

        @include mq(lg, max) {
            padding-left: 40px;
            padding-right: 40px;
        }

        @include sp {
            padding-top: 28.5px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__title {
        font-family: "Noto Serif JP";
        font-weight: 400;
        color: #231815;

        h2 {
            font-size: 3.4rem;
            margin-bottom: 22px;
            font-weight: 400;
            margin-left: 10px;

            span {
                font-size: 4.6rem;
                color: #252a6d;
                display: inline-block;
            }
        }

        h3 {
            font-size: 2.7rem;
            line-height: 1.4;
            margin-left: 32px;

            &:last-child {
                margin-left: 52px;
            }
        }

        @include mq(xl, max) {
            h2 {
                margin-left: 0;
            }

            h3 {
                margin-left: 0;
                font-weight: 400;

                &:last-child {
                    margin-left: 0;
                }
            }
        }

        @include sp {
            h2 {
                margin-bottom: 7.5px;
                font-weight: 400;
            }

            h3 {
                font-weight: 400;
            }
        }
    }

    /* ----------------------------------- TOP ---------------------------------- */
    &__menu {
        margin-top: 71px;
        margin-bottom: 123px;

        @include sp {
            margin-top: 35.5px;
            margin-bottom: 61.5px;
        }
    }

    &__list {
        display: flex;
        margin: -30px;
        padding-left: 14px;
        margin-right: -45px;

        li {
            width: 20%;
            padding: 30px;
            position: relative;

            a {
                display: block;
                background-color: #565f64;
                height: 242px;
            }
        }

        li:not(:last-child)::before {
            content: "";
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent transparent #000;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(90%, -30%);
        }

        li:first-child {
            a {
                background-color: #231815;
            }
        }

        li:last-child {
            a {
                background-color: #7a89a8;
            }
        }

        @include mq(md-max, max) {
            margin: -10px 0;
            padding-left: 0;
            margin-right: 0;

            li {
                padding: 10px;
            }
        }

        @include mq(xl, max) {
            flex-wrap: wrap;
            margin: -10px;

            li {
                width: 20%;

                a {
                    height: 200px;
                }
            }
        }

        @include mq(lg, max) {
            margin: -30px;

            li {
                width: 50%;
                padding: 30px;
            }

            li:not(:last-child)::before {
                transform: translate(25%, -50%);
            }
        }

        @include sp {
            margin: -15px;

            li {
                padding: 15px;

                a {
                    height: 121px;
                }
            }

            li:not(:last-child)::before {
                border-width: 4px;
                transform: translate(10%, -50%);
            }
        }
    }

    &__item {
        padding: 53px 25px 30px;
        font-weight: 400;
        font-family: "Noto Serif JP";
        color: $white-cl;

        figure {
            img {
                width: 35px;
                height: 35px;
                margin: auto;
            }
        }

        h4 {
            font-size: 2.1rem;
            line-height: 2.5;
            border-bottom: 1px solid #ccc;
            margin-top: 12px;
        }

        p {
            font-size: 1.6rem;
            line-height: 1.75;
            margin: 0 -25px;
            margin-top: 13px;
        }

        @include mq(xl, max) {
            padding: 30px 10px;
            height: 100%;
            @include mid(true);
            flex-direction: column;

            h4 {
                line-height: 1.2;
                border-bottom: unset;
            }

            p {
                margin: 0;
                margin-top: 20px;
                position: relative;

                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    background-color: #ccc;
                    top: -10px;
                    left: 0;
                }
            }
        }

        @include sp {
            padding: 7.5px 30px;

            figure {
                img {
                    width: 17.5px;
                    height: 17.5px;
                }
            }

            h4 {
                margin-top: 6px;
                font-weight: 400;
            }

            p {
                margin: 0 -12.5px;
                margin-top: 7px;

                &::before {
                    top: -5px;
                }
            }
        }
    }

    /* ----------------------------------- BOTTOM ---------------------------------- */
    &__table {
        max-width: 1200px;
        margin: auto;
        border: 1px solid #ccc;
    }

    &__tableheading {
        @include mid(true);
        flex-direction: column;
        background-color: $black-cl;
        height: 214px;
        row-gap: 22px;

        h3 {
            font-size: 2rem;
            font-weight: 300;
            color: $white-cl;
        }

        @include mq(xl, max) {
            height: fit-content;
            padding: 40px 120px;
        }

        @include sp {
            padding: 20px 60px;
            row-gap: 11px;
        }
    }

    &__tabletitle {
        display: flex;
        align-items: center;
        column-gap: 50px;
        margin-top: 14px;

        p {
            font-size: 2.3rem;
            font-weight: bold;
            color: #231815;
            background-color: $white-cl;
            padding: 7px 30px;
            border-radius: 23px;
        }

        h2 {
            font-size: 3.2rem;
            font-weight: 300;
            color: $white-cl;
            margin-left: -10px;
            margin-right: 40px;
        }

        @include mq(xl, max) {
            flex-direction: column;

            h2 {
                margin-left: 0;
                margin-right: 0;
            }
        }

        @include mq(lg, max) {}

        @include sp {
            column-gap: 25px;
            margin-top: 8px;

            p {
                padding: 3.5px 15px;
                border-radius: 11.5px;
            }
        }
    }

    &__tablebody {
        height: 500px;
        background-color: $white-cl;
        padding: 35px;
        display: flex;
        flex-wrap: wrap;

        @include mq(md-max, max) {
            padding: 30px;
        }

        @include mq(xl, max) {
            height: auto;
        }

        @include sp {
            padding: 15px;
        }
    }

    &__tablelist {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        &:last-child {
            width: 20%;
        }

        li {
            width: 50%;
            height: 50%;
            position: relative;
        }

        // table 1
        &.p-table1 li:nth-child(1) img {
            top: -11px;
        }

        &.p-table1 li:nth-child(2) img {
            top: -18px;
            left: 2px;
        }

        &.p-table1 li:nth-child(3) img {
            top: -25px;
        }

        &.p-table1 li:nth-child(4) img {
            top: -25px;
            left: 3px;
        }

        //table 2
        &.p-table2 li:nth-child(1) img {
            top: 1px;
            left: 7px;
        }

        &.p-table2 li:nth-child(2) img {
            top: -20px;
            left: 9px;
        }

        &.p-table2 li:nth-child(3) img {
            top: -17px;
            left: 6px;
        }

        &.p-table2 li:nth-child(4) img {
            top: -18px;
            left: 10px;
        }

        //table 3
        &.p-table3 li:nth-child(1) img {
            top: -8px;
            left: 15px;
        }

        &.p-table3 li:nth-child(2) img {
            top: -7px;
            left: 14px;
        }

        //

        @include mq(xl, max) {
            width: 100%;

            li {
                height: 252px;
            }

            &:last-child {
                width: 100%;

                li {
                    width: 50%;
                }
            }
        }

        @include mq(lg, max) {
            li {
                height: 252px;
            }

            // table 1
            &.p-table1 li:nth-child(1) img {
                top: 0;
            }

            &.p-table1 li:nth-child(2) img {
                top: 0;
                left: 0;
            }

            &.p-table1 li:nth-child(3) img {
                top: 0;
            }

            &.p-table1 li:nth-child(4) img {
                top: 0;
                left: 0;
            }

            //table 2
            &.p-table2 li:nth-child(1) img {
                top: 0;
                left: 0;
            }

            &.p-table2 li:nth-child(2) img {
                top: 0;
                left: 0;
            }

            &.p-table2 li:nth-child(3) img {
                top: 0;
                left: 0;
            }

            &.p-table2 li:nth-child(4) img {
                top: 0;
                left: 0;
            }

            //table 3
            &.p-table3 li:nth-child(1) img {
                top: 0;
                left: 0;
            }

            &.p-table3 li:nth-child(2) img {
                top: 0;
                left: 0;
            }
        }

        @include sp {
            width: 100%;

            li {
                height: 126px;
            }

            &:last-child {
                width: 100%;
            }
        }
    }

    &__fullitem {
        width: 100% !important;

        @include mq(xl, max) {
            width: 50% !important;
        }

        @include mq(lg, max) {}

        @include sp {}
    }

    &__tableitem {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        figure {
            img {
                margin: auto;
                position: relative;
            }
        }

        &.p-bottom::before {
            position: absolute;
            content: "";
            height: 1px;
            background-color: #ccc;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateY(50%);
        }

        &.p-left::after {
            position: absolute;
            content: "";
            width: 1px;
            background-color: #ccc;
            left: 0;
            top: 0;
            bottom: 0;
            transform: translateX(-50%);
        }

        @include mq(xl, max) {
            &.p-lasthidden.p-bottom::before {
                display: none;
            }

            &.p-lasthidden.p-left::after {
                display: none;
            }

            &.p-bhidden.p-left::after {
                display: none;
            }
        }

        @include mq(lg, max) {
            &.p-bm::before {
                position: absolute;
                content: "";
                height: 1px;
                background-color: #ccc;
                left: 0;
                right: 0;
                bottom: 0;
                transform: translateY(50%);
            }
        }

        @include sp {
            figure {
                img {
                    width: 64px;
                }
            }
        }
    }

    &__tableinfo {
        margin-top: 10px;
        margin-bottom: 30px;

        p {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
            color: #231815;
        }

        @include sp {
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
}