/* ----------------------------------- WEB ---------------------------------- */
.p-web {
  .l-container {
    max-width: 1680px;
    margin: auto;
  }

  @include sp {
    .l-container {
      max-width: 375px;
    }
  }

  &__wrap {
    padding-top: 57px;
    text-align: center;

    @include mq(xl, max) {
      padding-left: 10px;
      padding-right: 10px;
    }

    @include mq(lg-max, max) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include sp {
      padding-top: 46.5px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__title {
    font-weight: 400;
    color: #231815;

    h2 {
      font-size: 3.4rem;
      margin-bottom: 13px;
      font-weight: 400;
      margin-left: 3px;

      span {
        font-size: 4.6rem;
        color: #252a6d;
        display: inline-block;
        font-family: "Kozuka Mincho Pr6N", sans-serif;
        letter-spacing: -0.5px;
      }
    }

    h3 {
      font-size: 2.7rem;
      line-height: 1.4;
      margin-left: 24px;
      font-weight: 400;
      font-family: "Yu Gothic", sans-serif;

      &:last-child {
        margin-left: 52px;
      }
    }

    @include mq(xl, max) {
      h2 {
        margin-left: 0;
      }

      h3 {
        margin-left: 0;
        font-weight: 400;

        &:last-child {
          margin-left: 0;
        }
      }
    }

    @include sp {
      h2 {
        margin-bottom: 16.5px;
        font-weight: 400;
        margin-left: -21px;
      }

      h3 {
        font-weight: 400;
        margin-left: -6px;

        &:last-child {
          margin-left: 6px;
        }
      }
    }
  }

  /* ----------------------------------- TOP ---------------------------------- */
  &__menu {
    margin-top: 69px;
    margin-bottom: 119px;

    @include sp {
      margin-top: 33.5px;
      margin-bottom: 68.5px;
    }
  }

  &__list {
    display: flex;
    margin: -30px;
    padding-left: 14px;
    margin-right: -45px;

    li {
      width: 20%;
      padding: 31px;
      position: relative;

      a {
        display: block;
        background-color: #565f64;
        height: 242px;
      }
    }

    li:not(:last-child)::before {
      content: "";
      border-style: solid;
      border-width: 10px;
      border-color: transparent transparent transparent #000;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(77%, -35%);
    }

    li:first-child {
      a {
        background-color: #231815;
      }

      h4 {
        padding-right: 22px;
      }

      img {
        position: relative;
        left: -2px;
        width: 40px;
      }

      p {
        position: relative;
        left: -6px;
      }
    }

    li:nth-child(2) {
      img {
        position: relative;
        left: 3px;
        top: -5px;
      }
    }

    li:last-child {
      a {
        background-color: #7a89a8;
        position: relative;
        left: 2px;
      }
    }

    @include mq(md-max, max) {
      margin: -10px 0;
      padding-left: 0;
      margin-right: 0;

      li {
        padding: 10px;
      }
    }

    @include mq(xl, max) {
      flex-wrap: wrap;
      margin: -10px;

      li {
        width: 20%;

        a {
          height: 200px;
        }
      }
    }

    @include mq(lg-max, max) {
      margin: -30px;

      li {
        width: 48%;
        padding: 30px;
      }

      li:not(:last-child)::before {
        transform: translate(70%, -50%);
      }
    }

    @include sp {
      margin: -15px;

      li {
        padding: 16px;
        padding-bottom: 7px;
        padding-top: 17px;

        a {
          height: 121px;
        }
      }

      li:first-child {
        h4 {
          padding-right: 22px;
          top: -17px;
          left: 6px;
        }
        img {
          width: 21px;
          left: -1px;
          top: 0px;
        }

        p {
          left: 0;
          margin-top: -3px;
          padding-right: 6px;
        }
      }

      li:nth-child(2) {
        img {
          width: 20px;
          left: 1px;
          top: -3px;
        }
      }

      li:last-child {
        padding: 18px;
        padding-bottom: 7px;
        padding-top: 17px;
        padding-left: 14px;

        img {
          top: -1px;
          position: relative;
          left: -2px;
          width: 19px;
        }

        p::before {
          left: -18px;
        }
      }

      li:not(:last-child)::before {
        border-width: 4px;
        transform: translate(70%, 28%);
      }
    }
  }

  &__item {
    padding: 53px 25px 30px;
    color: $white-cl;

    figure {
      img {
        width: 35px;
        height: 35px;
        margin: auto;
      }
    }

    h4 {
      font-size: 2.1rem;
      line-height: 2;
      border-bottom: 1px solid #ccc;
      margin-top: 12px;
      font-weight: 400;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.75;
      margin: 0 -25px;
      margin-top: 16px;
      font-weight: 400;
    }

    @include mq(xl, max) {
      padding: 30px 10px;
      height: 100%;
      @include mid(true);
      flex-direction: column;

      h4 {
        line-height: 1.2;
        border-bottom: unset;
      }

      p {
        margin: 0;
        margin-top: 20px;
        position: relative;

        &::before {
          content: "";
          //   width: 100%;
          width: 117px;
          height: 1px;
          position: absolute;
          background-color: #ccc;
          top: -10px;
          left: 0;
        }
      }
    }

    @include mq(md, max) {
      padding: 15px 5px;
    }

    @include sp {
      padding: 7.5px 30px;

      figure {
        img {
          width: 17.5px;
          height: 17.5px;
          //   margin-top: 14px;
          margin-bottom: 13px;
          margin-left: -1px;
        }
      }

      h4 {
        margin-top: 18px;
        font-weight: 400;
        position: relative;
        top: -19px;
        margin-left: -21px;
        margin-right: -21px;
      }

      p {
        margin: 0 -21px;
        margin-top: -4px;

        &::before {
          top: -5px;
        }
      }
    }
  }

  /* ----------------------------------- BOTTOM ---------------------------------- */
  &__table {
    max-width: 1200px;
    margin: auto;
    border: 1px solid #ccc;
    font-family: "Yu Gothic", sans-serif;
  }

  &__tableheading {
    @include mid(true);
    flex-direction: column;
    background-color: #231815;
    height: 214px;
    row-gap: 22px;
    margin-left: 2px;
    margin-top: 2px;

    h3 {
      font-size: 2rem;
      font-weight: 300;
      color: $white-cl;
      letter-spacing: 0.4px;
      margin-left: 10px;
    }

    @include mq(xl, max) {
      padding: 15px 5px;
    }

    @include mq(md, max) {
      height: fit-content;
      padding: 40px 120px;
    }

    @include sp {
      padding: 13px 35px;
      row-gap: 11px;
      margin-top: 1px;
      margin-left: 1px;

      h3 {
        margin-left: 31px;
        margin-right: 19px;
        line-height: 1.65;
        margin-top: -2px;
        padding: 0 15px 18px;
        letter-spacing: 0.5px;
      }
    }
  }

  &__tabletitle {
    display: flex;
    align-items: center;
    // column-gap: 50px;
    margin-top: 20px;

    a {
      font-size: 2.3rem;
      font-weight: bold;
      color: #231815;
      background-color: $white-cl;
      padding: 9px 28px;
      border-radius: 23px;
      margin-top: -4px;
    }

    h2 {
      font-size: 3.2rem;
      font-weight: 300;
      color: $white-cl;
      margin-right: 9px;
      position: relative;
      left: -7px;
      letter-spacing: 1px;
      margin-left: 50px;

      span {
        display: inline-block;
      }
    }

    @include mq(xl, max) {
      h2 {
        margin-left: -30px;
        margin-right: 0;
      }
    }

    @include mq(lg-max, max) {
      flex-direction: column;
      gap: 15px;
      margin-top: 0;

      h2 {
        margin-left: 0;
        font-size: 2.8rem;
        letter-spacing: 2.4px;
      }
    }

    @include sp {
      margin-top: 17px;

      h2 {
        margin-left: 14px;
        font-size: 3.2rem;
        letter-spacing: 0.3px;
        margin-top: -4px;
        line-height: 1.1;

        span {
          letter-spacing: 1.2px;
          margin-right: -12px;
        }
      }

      a {
        padding: 4px 14px;
        margin-left: -1px;
      }

      p {
        padding: 3.5px 13px;
        border-radius: 11.5px;
        margin-top: -1px;
        margin-bottom: 9px;
      }
    }
  }

  &__tablebody {
    height: 500px;
    background-color: $white-cl;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;

    background-image: url("../assets/img/table-solid.png");
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;

    @include mq(xl-max, max) {
      background-image: none;
    }

    @include mq(md-max, max) {
      padding: 30px;
    }

    @include mq(xl, max) {
      height: auto;
    }

    @include sp {
      padding: 15px;
      padding-bottom: 25px;
    }
  }

  &__tablelist {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    &:last-child {
      width: 20%;
    }

    li {
      width: 50%;
      height: 50%;
      position: relative;

      p {
        position: relative;
      }
    }

    // table 1
    &.p-table1 li:nth-child(1) {
      img {
        top: -11px;
      }

      p {
        top: -1px;
      }
    }

    &.p-table1 li:nth-child(2) {
      img {
        top: -18px;
        left: 2px;
      }

      p {
        left: 2px;
      }
    }

    &.p-table1 li:nth-child(3) {
      img {
        top: -25px;
      }

      p {
        top: -11px;
        left: -2px;
      }
    }

    &.p-table1 li:nth-child(4) {
      img {
        top: -25px;
        left: 3px;
      }

      p {
        top: -11px;
        left: 3px;
      }
    }

    //table 2
    &.p-table2 li:nth-child(1) {
      img {
        top: 1px;
        left: 7px;
      }

      p {
        left: 7px;
      }
    }

    &.p-table2 li:nth-child(2) {
      img {
        top: -20px;
        left: 9px;
      }

      p {
        left: 10px;
      }
    }

    &.p-table2 li:nth-child(3) {
      img {
        top: -17px;
        left: 6px;
      }

      p {
        top: -10px;
        left: 4px;
      }
    }

    &.p-table2 li:nth-child(4) {
      img {
        top: -18px;
        left: 10px;
      }

      p {
        top: -10px;
        left: 10px;
      }
    }

    //table 3
    &.p-table3 li:nth-child(1) {
      img {
        top: -8px;
        left: 15px;
      }

      p {
        top: -1px;
        left: 18px;
      }
    }

    &.p-table3 li:nth-child(2) {
      img {
        top: -7px;
        left: 14px;
      }

      p {
        left: 13px;
        top: -10px;
        letter-spacing: -0.6px;
      }
    }

    //

    @include mq(xl, max) {
      // table 1
      &.p-table1 li:nth-child(1),
      &.p-table1 li:nth-child(2),
      &.p-table1 li:nth-child(3),
      &.p-table1 li:nth-child(4),
      &.p-table2 li:nth-child(1),
      &.p-table2 li:nth-child(2),
      &.p-table2 li:nth-child(3),
      &.p-table2 li:nth-child(4),
      &.p-table3 li:nth-child(1),
      &.p-table3 li:nth-child(2) {
        img {
          top: 0;
          left: 0;
        }

        p {
          top: 0;
          left: 0;
        }
      }
    }

    @include mq(lg-max, max) {
      width: 100%;

      li {
        p {
          font-size: 1.7rem;
        }
      }

      li {
        height: 252px;
      }

      &:last-child {
        width: 100%;

        li {
          width: 50%;
        }
      }
    }

    @include sp {
      width: 100%;

      li {
        height: 142px;
        width: 46%;

        &.is-width {
          width: 54%;
        }
      }

      // table 1
      &.p-table1 li:nth-child(1) {
        img {
          top: -4px;
          left: 7px;
        }

        p {
          top: 3px;
          left: 7px;
          letter-spacing: 0.2px;
        }
      }

      &.p-table1 li:nth-child(2) {
        img {
          top: -8px;
          left: -5px;
          width: 60px;
        }

        p {
          top: 4px;
          left: -6px;
          letter-spacing: 0.3px;
        }
      }

      &.p-table1 li:nth-child(3) {
        img {
          top: -23px;
          left: 7px;
          width: 60px;
        }

        p {
          top: -13px;
          left: 6px;
          letter-spacing: 0.5px;
        }
      }

      &.p-table1 li:nth-child(4) {
        img {
          top: -25px;
          left: -6px;
          width: 53px;
        }

        p {
          top: -13px;
          left: -5px;
          letter-spacing: -0.5px;
        }
      }

      //table 2
      &.p-table2 li:nth-child(1) {
        img {
          top: -6px;
          left: 7px;
          width: 80px;
        }

        p {
          top: -5px;
          left: 8px;
          letter-spacing: 0.5px;
        }
      }

      &.p-table2 li:nth-child(2) {
        img {
          top: -18px;
          left: -4px;
          width: 95px;
        }

        p {
          top: -5px;
          left: -4px;
          letter-spacing: -0.2px;
        }
      }

      &.p-table2 li:nth-child(3) {
        img {
          top: -28px;
          left: 7px;
          width: 70px;
        }

        p {
          top: -22px;
          left: 7px;
          letter-spacing: -0.7px;
        }
      }

      &.p-table2 li:nth-child(4) {
        img {
          top: -27px;
          left: -4px;
          width: 77px;
        }

        p {
          top: -21px;
          left: -4px;
          letter-spacing: 0.6px;
        }
      }

      //table 3
      &.p-table3 li:nth-child(1) {
        img {
          top: -39px;
          left: 15px;
          width: 60px;
        }

        p {
          top: -36px;
          left: 17px;
          letter-spacing: -0.5px;
        }
      }

      &.p-table3 li:nth-child(2) {
        img {
          top: -27px;
          left: -13px;
          width: 73px;
        }

        p {
          top: -26px;
          left: -14px;
          letter-spacing: 0.3px;
        }
      }

      &:last-child {
        width: 100%;
      }
    }
  }

  &__fullitem {
    width: 100% !important;

    @include mq(xl, max) {
    }

    @include mq(lg-max, max) {
      width: 50% !important;
    }

    @include sp {
      height: 159px !important;
      width: 54% !important;

      &:last-child {
        width: 46% !important;
      }
    }
  }

  &__tableitem {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    figure {
      img {
        margin: auto;
        position: relative;
      }
    }

    @include mq(xl-max, max) {
      &.p-bottom::before {
        position: absolute;
        content: "";
        height: 1px;
        background-color: #ccc;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
      }

      &.p-left::after {
        position: absolute;
        content: "";
        width: 1px;
        background-color: #ccc;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translateX(-50%);
      }
    }

    @include mq(xl, max) {
    }

    @include mq(lg-max, max) {
      &.p-lasthidden.p-bottom::before {
        display: none;
      }

      &.p-lasthidden.p-left::after {
        display: none;
      }

      &.p-bhidden.p-left::after {
        display: none;
      }

      &.p-bm::before {
        position: absolute;
        content: "";
        height: 1px;
        background-color: #ccc;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
      }
    }

    @include sp {
      figure {
        img {
          width: 64px;
        }
      }
    }
  }

  &__tableinfo {
    margin-top: 10px;
    margin-bottom: 30px;

    p {
      display: block;
      font-size: 1.5rem;
      font-weight: 400;
      color: #231815;
      letter-spacing: -1.4px;
    }

    @include sp {
      margin-top: 5px;
      margin-bottom: 15px;
      letter-spacing: normal;
    }
  }
}
