//baseWidth
$base-width: 1920px;

$main-fonts: "Kozuka Gothic Pr6N", "Kozuka Mincho Pr6N",
    "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic,
    "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", "Roboto", "Oswald", sans-serif;

//color common
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #ededed;
