/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.l-footer {
    text-align: center;
    padding: 90px 0;

    &__logo {
        margin-top: -6px;

        img {
            width: 206px;
            height: 78px;
        }
    }

    @include sp {
        padding: 34px 0;

        &__logo {
            margin-top: 0;
            margin-left: 1px;
            display: inline-block;

            img {
                width: 103px;
                height: 39px;
            }
        }
    }
}
