/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.l-footer {
    &__logo {
        text-align: center;
        height: 250px;
        @include mid(true);

        img {
            width: 206px;
            height: 78px;
        }
    }
}
