/* Header
------------------------------------------------------------*/
.c-header {
    &__wrap {
        background-image: url("../../assets/img/bg-header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 1052px;
        // height: 100vh;

        @include mq(lg, max) {
            height: 822px;
        }

        @include sp {
            height: 442px;
        }
    }

    &__content {
        // @include mid();
        top: 50%;
        left: 50%;
        transform: translate(-46%, -43%);
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        width: 434px;
        height: 461px;
        text-align: center;
        padding-top: 114px;

        p {
            font-size: 2rem;
            font-weight: bold;
            font-family: "Noto Serif JP";
            color: #231815;
            margin-top: 54px;
            margin-bottom: 34px;
            margin-left: -20px;
            letter-spacing: -1.4px;
            display: inline-block;

            span {
                display: inline-block;
                margin-left: -10px;
                letter-spacing: -2px;
            }
        }

        /* ------------------------------ max-width: 767 ----------------------------- */
        @include sp {
            width: 217px;
            height: 230.5px;
            padding-top: 57px;

            p {
                margin-top: 21.5px;
                margin-bottom: 15.5px;
                margin-left: -10px;
                letter-spacing: -1px;

                span {
                    margin-left: -5px;
                    letter-spacing: -1px;
                }
            }
        }
    }

    &__logo {
        img {
            width: 227px;
            height: 88px;
        }

        @include sp {
            display: inline-block;

            img {
                width: 113.5px;
                height: 44px;
            }
        }
    }

    &__open {
        img {
            margin-left: 11px;
        }

        @include sp {
            img {
                width: 161px;
                height: 28px;
            }
        }
    }
}
