<!-- ------------------------------- FOOTER -------------------------------- -->
<footer class="l-footer">
    <div class="l-container">
        <a href="#" class="l-footer__logo">
            <figure>
                <img src="./assets/img/logo.svg" alt="logo">
            </figure>
        </a>
    </div>
</footer>