<!-- ------------------------------- HEADER -------------------------------- -->
<header class="c-header">
  <div class="l-container">
    <div class="c-header__wrap">
      <div class="c-header__content">
        <a href="#" class="c-header__logo">
          <figure><img src="./assets/img/logo.svg" alt="logo"></figure>
        </a>
        <p>「こんな家に住みたい」<span>をカタチにした家</span></p>
        <figure class="c-header__open">
          <img src="./assets/img/nowopen.png" alt="nowopen">
        </figure>
      </div>
    </div>
  </div>
</header>
<!-- ----------------------------- END HEADER ------------------------------ -->